.warning {
    border: 1px solid red;
}

.message_warning {
    color: red;
}

.activeButton {
    background-color: greenyellow;
}

.isDone {
    opacity: 0.5;
}

.colorButton {
    color: greenyellow;
}